@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.header-banner-container {
    background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0) 100%), url(../images/banner.png);
    background-size: cover;

}

.best-offer1 {
    background: url(../images/Rectangle\ 8.png);
    background-repeat: no-repeat;
}

.best-offer2 {
    background: url(../images/Rectangle\ 8.jpg);
    background-repeat: no-repeat;
}
 
